footer#footer {
  background: #F9F9F9;
  padding: 0 40px; }
  footer#footer .wrap {
    max-width: 1088px;
    margin: 0 auto;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer#footer .wrap .breadcrumbs {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      border-bottom: 1.25px solid #DEDEDE;
      padding: 13px 0;
      margin-bottom: 25px; }
    footer#footer .wrap .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      footer#footer .wrap .menu .footer-menu {
        min-width: 100px; }
        footer#footer .wrap .menu .footer-menu li {
          padding: 10px 0; }
    footer#footer .wrap .social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: 0px;
      margin-right: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      padding-bottom: 10px;
      min-width: 360px; }
      @media screen and (max-width: 780px) {
        footer#footer .wrap .social {
          min-width: 100%; } }
      @media screen and (max-width: 780px) {
        footer#footer .wrap .social {
          margin-top: 20px; } }
      footer#footer .wrap .social .social-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        @media screen and (max-width: 780px) {
          footer#footer .wrap .social .social-list {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center; } }
      footer#footer .wrap .social form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 50px; }
        footer#footer .wrap .social form .btn {
          font-family: "DIN Pro medium" !important;
          font-size: 14px !important;
          padding: 9px 16px !important; }
