@import "var";
@import "smart-grid";

section.contacts{
  height: calc(100vh - 158px);
}

section.contacts.hidden{
  height: 0;
  overflow: hidden;
}


.form {
  max-width: 612px;
  margin: 0 auto;
  padding: 50px 15px 50px 15px;
  opacity: 0;
  box-sizing: border-box;


  &__control {
    position: relative;
    overflow: hidden;

    .input{
      width: 100%;
      padding: 5px;
      border-radius: 3px;
    }

    .input--desc{
      box-sizing: border-box;
      margin-top: 10px;
      width: 100%;
      min-height: 50vh;
      max-height: 50vh;
      @include xs-block{
        min-height: 40vh;
        max-height: 40vh;
      }
    }
  }

  .btn{
    margin-top: 30px;
  }
}