<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ячейка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes=192x191>
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-512x512.png" sizes=512x512>
    <link rel="manifest" href="assets/favicon/manifest.webmanifest">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml" />
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<header id="header" class="light">
    <nav class="navbar">
        <a href="index.html" class="navbar__brand">
            <i class="icon icon-logo"></i>
            <i class="icon icon-logo-text"></i>
        </a>

        <div class="navbar__fix_position">
            <a href="#" class="navbar__toggler">
                <i class="icon icon-menu"></i>
            </a>
            <a href="#" class="navbar__shopping">
                <i class="icon icon-shopping"></i>
            </a>

        </div>


        <div class="navbar__collapse">
            <ul class="nav">
                <li class="nav__item">
                    <a class="btn nav__link" href="product.html">Продукты</a>
                </li>
                <li class="nav__item">
                    <a class="btn nav__link" href="team.html">Команда</a>
                </li>
                <li class="nav__item">
                    <a class="btn nav__link" href="#">Форум</a>
                </li>
                <li class="nav__item">
                    <a class="btn nav__link" href="contacts.html">Контакты</a>
                </li>
                <li class="nav__item">
                    <a class="btn nav__link" href="faq.html">FAQ</a>
                </li>
                <li class="nav__item">
                    <a class="btn btn-dark" href="#">Оформить заказ</a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<section id="product" class="product">

    <ul class="product__images images">
        <li class="images__item item">
            <img src="img/prod_more_rack.png" alt="Ячейка Bixbit" class="item_img">
        </li>
    </ul>

    <div class="product__breadcrumbs breadcrumbs">
        <a href="index.html" class="btn btn-link-f-b">Главная</a>
        <a href="product.html" class="btn btn-link-f-b">Продукты</a>
        <a href="prod_more_rack.html" class="btn btn-link-f-b">Стойка</a>
    </div>

    <h1 class="product__title"><span class="title_sub">Стойка</span> Bixbit </h1>

    <div class="product__props props">
        <div class="props__desc">
            He company deals with development and production of mobile module miners
            which are intended to solve industrial mining problems and reduce
            entry barriers for new players.
        </div>
        <div class="props__options devices">
            <div class="options__title">Выберите свое оборудование:</div>

            <div class="radio_group">
                <div class="radio_product">
                    <input type="radio" id="radio1" v-model="device" value="gpu"/>
                    <label for="radio1">GPU</label>
                </div>
                <div class="radio_product">
                    <input type="radio" id="radio2" v-model="device" value="asic"/>
                    <label for="radio2">ASIC</label>
                </div>
            </div>
        </div>
        <div class="props__options devices_type">
            <div class="options__title">Выберите тип оборудования:</div>

            <div class="radio_group individual">
                <div class="radio_product">
                    <input type="radio" id="empty" v-model="type" value="empty"/>
                    <label for="empty">Без градирни</label>
                </div>
                <div class="radio_product">
                    <input type="radio" id="full" v-model="type" value="full"/>
                    <label for="full">С градирней</label>
                </div>
                <a href="#" class="btn_group__item btn btn-outline-grey">Индивидуально</a>
            </div>
        </div>
        <div class="props__price">
            <div class="price_value" :class="[price_empty]">&nbsp;&nbsp;$999.99</div>
            <div class="price_value" :class="[price_full]">&nbsp;&nbsp;$799.99</div>
            <div class="price_value">от $699.99</div>
        </div>
        <div class="props__list">
            <ul class="prop_list">
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Длина</span>
                    <span class="prop_list__item__value">750мм</span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Ширина</span>
                    <span class="prop_list__item__value">626мм</span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Высота</span>
                    <span class="prop_list__item__value">2050мм</span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Кол-во</span>
                    <span class="prop_list__item__value">{{count}}шт.</span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Щит автоматики/электропитания</span>
                    <span class="prop_list__item__value">
                        <i class="icon"
                           :class="[options ? 'icon-checked' : 'icon-unchecked']">
                        </i>
                    </span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Теплоноситель</span>
                    <span class="prop_list__item__value">
                        <i class="icon"
                           :class="[options ? 'icon-checked' : 'icon-unchecked']">
                        </i>
                    </span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Насосы и теплообменники</span>
                    <span class="prop_list__item__value">
                        <i class="icon"
                           :class="[options ? 'icon-checked' : 'icon-unchecked']">
                        </i>
                    </span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Система бездискового запуска</span>
                    <span class="prop_list__item__value">
                        <i class="icon"
                           :class="[options ? 'icon-checked' : 'icon-unchecked']">
                        </i>
                    </span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Датчик температуры</span>
                    <span class="prop_list__item__value">
                        <i class="icon"
                           :class="[options ? 'icon-checked' : 'icon-unchecked']">
                        </i>
                    </span>
                </li>
                <li class="prop_list__item">
                    <span class="prop_list__item__title">Вспомогательная инфраструктура</span>
                    <span class="prop_list__item__value">
                        <i class="icon"
                           :class="[options ? 'icon-checked' : 'icon-unchecked']">
                        </i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="props__btn">
            <a href="#" class="btn btn-dark"></a>
            <a href="#" class="btn btn-link">Документация</a>
        </div>
    </div>


</section>

<section id="product_description" class="product_description">
    <h1 class="product_description__title text--h1">Лучшее решение для домашнего майнера</h1>
    <p class="product_description__desc text--desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
    </p>
</section>
<footer id="footer">
    <div class="wrap">

        <div class="breadcrumbs">
            <a href="index.html" class="btn btn-link-f-b">Главная</a>
            <a href="product.html" class="btn btn-link-f-b">Продукты</a>
            <a href="prod_more_rack.html" class="btn btn-link-f-b">Стойка</a>
        </div>

        <div class="menu">
            <ul class="footer-menu">
                <li><a class="btn btn-link-f-m" href="product.html">Продукты</a></li>
                <li><a class="btn btn-link-f-m" href="faq.html">FAQ</a></li>
                <li><a class="btn btn-link-f-m" href="#">Форум</a></li>
                <li><a class="btn btn-link-f-m" href="contacts.html">Контакты</a></li>
            </ul>

            <ul class="footer-menu">
                <li><a class="btn btn-link-f-m" href="team.html">Команда</a></li>
                <li><a class="btn btn-link-f-m"  target="_blank" href="assets/specification.pdf">Спецификация</a></li>
            </ul>
        </div>


        <div class="social">
            <ul class="social-list">
                <li>
                    <a class="btn btn-social" target="_blank" href="https://vk.com/bixbit_io">
                        <i class="icon icon-vk"></i>
                    </a>
                <li>
                <li>
                    <a class="btn btn-social" target="_blank" href="https://medium.com/@bixbit">
                        <i class="icon icon-medium"></i>
                    </a>
                <li>
                <li>
                    <a class="btn btn-social" href="">
                        <i class="icon icon-fb"></i>
                    </a>
                <li>
                <li>
                    <a class="btn btn-social" target="_blank" href="https://www.linkedin.com/company/bixbit-company">
                        <i class="icon icon-in"></i>
                    </a>
                <li>
            </ul>
            <form class="t--r">
                <input class="input subscribe" type="text">
                <button class="btn btn-link-dark inverse">Подписаться</button>
            </form>

        </div>
    </div>


</footer>
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="js/menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/more_rack.js"></script>


</body>
</html>