[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem; }

.icon-bars:before {
  content: "\e90f"; }

.icon-height:before {
  content: "\e925"; }

.icon-length:before {
  content: "\e926"; }

.icon-width:before {
  content: "\e927"; }

.icon-logo-text:before {
  content: "\e908"; }

.icon-checked:before {
  content: "\e909"; }

.icon-unchecked:before {
  content: "\e90a";
  color: #c6c6c6; }

.icon-ic_arrow:before {
  content: "\e90b"; }

.icon-logo:before {
  content: "\e905";
  color: #e5007e; }

.icon-shopping:before {
  content: "\e906"; }

.icon-menu:before {
  content: "\e907"; }

.icon-arrow:before {
  content: "\e904"; }

.icon-recycle:before {
  content: "\e903"; }

.icon-mobil:before {
  content: "\e901"; }

.icon-guarantee:before {
  content: "\e918"; }

.icon-mashtabiruemost:before {
  content: "\e917"; }

.icon-logo-full:before {
  content: "\e900";
  color: #e5007e; }

.icon-in:before {
  content: "\e90c"; }

.icon-fb:before {
  content: "\e90d"; }

.icon-vk:before {
  content: "\e90e"; }

.icon-util:before {
  content: "\e913"; }

.icon-thermometer:before {
  content: "\e914"; }

.icon-sostav:before {
  content: "\e915"; }

.icon-obsluzivanie:before {
  content: "\e916"; }

.icon-gibkost:before {
  content: "\e919"; }

.icon-energoeffect:before {
  content: "\e91a"; }

.icon-bio:before {
  content: "\e91b"; }

.icon-bezopasn:before {
  content: "\e91c"; }

.icon-medium:before {
  content: "\e902"; }

.icon-medium:before {
  font-size: 20px;
  position: relative;
  bottom: 7px; }

.icon-mobil:before {
  font-size: 34px;
  line-height: 38px; }

.icon-vk:before {
  font-size: 45px;
  line-height: 41px;
  position: relative;
  right: 4px; }

.icon-logo:before {
  font-size: 36px; }
