.ico_group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 1088px;
  margin: 0 auto; }
  .ico_group__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 50px; }
    @media screen and (max-width: 960px) {
      .ico_group__item {
        width: -webkit-calc(33.33333% - 0px);
        width: calc(33.33333% - 0px); } }
    @media screen and (max-width: 780px) {
      .ico_group__item {
        width: -webkit-calc(50% - 0px);
        width: calc(50% - 0px); } }
    @media screen and (max-width: 560px) {
      .ico_group__item {
        width: -webkit-calc(100% - 0px);
        width: calc(100% - 0px); } }
    .ico_group__item .item__title, .ico_group__item .item__desc {
      font-family: "DIN Pro regular";
      font-size: 15px;
      color: #222222;
      display: block; }
    .ico_group__item .item__ico {
      display: block;
      font-size: 38px;
      line-height: 38px;
      padding: 5px 0px; }
  .ico_group.line::after, .ico_group.line::before {
    content: "";
    height: 1px;
    background: -webkit-radial-gradient(50% 30%, #dedede, #fff);
    background: -o-radial-gradient(50% 30%, #dedede, #fff);
    background: radial-gradient(50% 30%, #dedede, #fff);
    width: 100%; }

.prod {
  padding: 120px 40px 40px 55px;
  text-align: center; }
  @media screen and (max-width: 1100px) {
    .prod {
      padding-right: 20px !important; } }
  @media screen and (max-width: 1100px) {
    .prod {
      padding-left: 20px !important; } }
  @media screen and (max-width: 560px) {
    .prod__title {
      font-size: 2rem; } }
  .prod__desc {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .prod__desc .desc__action {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 0px;
      margin-right: 0px;
      padding: 10px 20px; }
      .prod__desc .desc__action .action__link {
        padding: 10px 25px;
        margin-bottom: 10px; }
      .prod__desc .desc__action .action__file_size {
        font-family: "DIN Pro regular";
        font-size: 13px;
        color: #222222;
        opacity: 0.6; }
    .prod__desc .desc__desc {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 0px;
      margin-right: 0px;
      text-align: left;
      max-width: 595px;
      padding: 0 20px; }
      @media screen and (max-width: 560px) {
        .prod__desc .desc__desc {
          font-size: 1rem; } }
      @media screen and (max-width: 780px) {
        .prod__desc .desc__desc {
          text-align: center; } }

.cell {
  padding: 100px 40px;
  background-color: #f9f9f9;
  text-align: center; }
  @media screen and (max-width: 1100px) {
    .cell {
      padding-right: 20px !important; } }
  @media screen and (max-width: 1100px) {
    .cell {
      padding-left: 20px !important; } }
  .cell__title {
    margin-bottom: 15px; }
    @media screen and (max-width: 560px) {
      .cell__title {
        font-size: 2rem; } }
  .cell__desc {
    margin: 0 auto 15px auto;
    max-width: 690px; }
    .cell__desc .desc__desc {
      margin-bottom: 20px; }
      @media screen and (max-width: 560px) {
        .cell__desc .desc__desc {
          font-size: 1rem; } }
  @media screen and (max-width: 960px) {
    .cell .ico_group__item {
      width: -webkit-calc(33.33333% - 0px);
      width: calc(33.33333% - 0px); } }
  @media screen and (max-width: 960px) {
    .cell .ico_group__item {
      padding: 10px 10px !important; } }
  .cell__image {
    max-width: 1088px;
    width: 100%; }

.rack {
  padding: 150px 40px 0 40px;
  text-align: center; }
  @media screen and (max-width: 1100px) {
    .rack {
      padding-right: 20px !important; } }
  @media screen and (max-width: 1100px) {
    .rack {
      padding-left: 20px !important; } }
  .rack__title {
    margin-bottom: 15px; }
    @media screen and (max-width: 560px) {
      .rack__title {
        font-size: 2rem; } }
  .rack__desc {
    margin: 0 auto 15px auto;
    max-width: 706px; }
    .rack__desc .desc__desc {
      margin-bottom: 20px; }
      @media screen and (max-width: 560px) {
        .rack__desc .desc__desc {
          font-size: 1rem; } }
  @media screen and (max-width: 960px) {
    .rack .ico_group__item {
      width: -webkit-calc(33.33333% - 0px);
      width: calc(33.33333% - 0px); } }
  @media screen and (max-width: 960px) {
    .rack .ico_group__item {
      padding: 10px 10px !important; } }
  .rack__image {
    max-width: 1124px;
    width: 100%; }

.crisper {
  padding: 100px 40px;
  background-color: #f9f9f9;
  text-align: center; }
  @media screen and (max-width: 1100px) {
    .crisper {
      padding-right: 20px !important; } }
  @media screen and (max-width: 1100px) {
    .crisper {
      padding-left: 20px !important; } }
  .crisper__title {
    margin-bottom: 15px; }
    @media screen and (max-width: 560px) {
      .crisper__title {
        font-size: 2rem; } }
  .crisper__desc {
    margin: 0 auto 70px auto;
    max-width: 750px; }
    .crisper__desc .desc__desc {
      margin-bottom: 20px; }
      @media screen and (max-width: 560px) {
        .crisper__desc .desc__desc {
          font-size: 1rem; } }
  @media screen and (max-width: 960px) {
    .crisper .ico_group__item {
      width: -webkit-calc(25% - 0px);
      width: calc(25% - 0px); } }
  @media screen and (max-width: 560px) {
    .crisper .ico_group__item {
      width: -webkit-calc(50% - 0px);
      width: calc(50% - 0px); } }
  @media screen and (max-width: 960px) {
    .crisper .ico_group__item {
      padding: 10px 20px !important; } }
  .crisper__image {
    max-width: 1366px;
    width: 100%; }

.conf {
  padding: 55px 40px;
  background-color: #1a1a1a;
  text-align: center; }
  @media screen and (max-width: 1100px) {
    .conf {
      padding-right: 20px !important; } }
  @media screen and (max-width: 1100px) {
    .conf {
      padding-left: 20px !important; } }
  .conf__title {
    margin-bottom: 15px;
    color: #fff; }
    @media screen and (max-width: 560px) {
      .conf__title {
        font-size: 2rem; } }
  .conf__desc {
    margin: 0 auto;
    max-width: 720px; }
    .conf__desc .desc__desc {
      color: #fff;
      margin-bottom: 55px; }
      @media screen and (max-width: 560px) {
        .conf__desc .desc__desc {
          font-size: 1rem; } }
    .conf__desc .desc__link {
      padding: 10px 22px;
      margin: 0 25px; }
