.text--h1 {
  font-family: "Gotham Pro";
  font-size: 2.25rem;
  font-weight: bold; }

.text--h2 {
  font-family: "Gotham Pro";
  font-size: 2rem;
  font-weight: bold; }

.text--desc {
  font-family: "DIN Pro regular";
  font-size: 1.125rem;
  line-height: 1.4375; }

.t--c {
  text-align: center; }

.t--r {
  text-align: right; }

.t--l {
  text-align: left; }
