.header {
  position: relative;
  max-width: 612px;
  min-height: 118px;
  margin: 0 auto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: logo-loading;
          animation-name: logo-loading; }
  .header--full {
    width: 100%;
    height: -webkit-calc(100vh - 40px);
    height: calc(100vh - 40px); }
  .header__logo {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 130px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .header__logo--full {
      width: 600px;
      top: -webkit-calc(50vh - 150px);
      top: calc(50vh - 150px);
      left: -webkit-calc(50vh - 480px);
      left: calc(50vh - 480px); }
      @media screen and (max-width: 780px) {
        .header__logo--full {
          width: 90%;
          top: -webkit-calc(50vh - 100px);
          top: calc(50vh - 100px);
          left: -webkit-calc(50vw - 45%);
          left: calc(50vw - 45%); } }

@-webkit-keyframes logo-loading {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes logo-loading {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
