// Fonts
$font-din-regular : "DIN Pro regular";
$font-din-medium : "DIN Pro medium";
$font-gotham: "Gotham Pro";
$font-icon: "icomoon";

//color
$magenta: #e5007e;
$dark: #222222;
$light: #fff;


//btn
$btn-font-size: 16px;
$btn-line-height: 16px;


$btn-border-color: #fff;



$icon-font-size:                     1rem;
$icon-font-size-mini:                0.5rem;
$icon-font-size-sm:                  0.7rem;
$icon-font-size-md:                  1.5rem;
$icon-font-size-lg:                  2rem;
$icon-font-size-xlg:                 4rem;