@import "var";
@import "smart-grid";


.faq{
  padding: 90px 40px 40px 40px;
  @include lg(padding, 90px 20px 40px 20px);

  max-width: 1088px;
  margin: 0 auto;

  .question{
    margin-top: 20px;
    &__title{
      &[aria-expanded=true]{
        color: $magenta-dark;
      }
      font-family: $font-din-medium;
      font-size: 26px;
      cursor: pointer;
      margin-bottom: 15px;
    }
    &__answer{
      font-family: $font-din-regular;
      font-size: 18px;

      h1,h2,h3,h4,h5{
        font-family: $font-din-medium;
      }

      ul{

        li{
          position: relative;
          padding: 5px 0 5px 15px;
        }
        li:before{
          content: " ";
          width: 5px;
          height: 5px;
          position: absolute;
          left: 0;
          top: 45%;
          background-color: $magenta-dark;

        }
      }
    }
  }
}
