@import "smart-grid";

@include reset();
@import "var";
@import "font";
@import "icon";
@import "btn";
@import "text";
@import "input";
@import "btngroup";
@import "collapse";
@import "modal";

html, body {
  min-height: 100%;
  height: 100%;

}

@import "header";
@import "footer";
@import "float_navigation";

@import "home";
@import "product";
@import "prod_more";
@import "library";
@import "team";
@import "faq";
@import "contacts";


.list{
  @include row-flex();
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  text-align: center;
  max-width: 1088px;
  @include md(justify-content, space-around);

  &::after, &::before {

    content: "";
    height: 1px;
    background: radial-gradient(50% 30%, #dedede, #fff);
    width: 100%;
  }
  li{
    @include col();

    @include size-md(4);
    @include size-sm(6);
    @include size-xs(12);
    padding: 20px 35px;
  }
  &__icon{
    color: #3E3E3E;
    font-size: 38px;
  }
  &__desc{
    font-family: $font-din-medium;
    font-size: 14px;
    display: block;
    margin-top: 10px;
  }
}



