

.team {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.team._left .team-thumb {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.team._left .team-content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: auto;
}

.team._right .team-thumb {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.team._right .team-content {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: auto;
}

.team:not(:last-child) {
  margin-bottom: 100px;
}

.team-thumb {
  min-height: 580px;
  width: 100%;
  max-width: calc(50% - 80px);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.team-content {
  width: 50%;
}

.team-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  color: #f00480;
  margin-bottom: 5px;
}

.team-role {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 300;
  display: block;
}

.team-line {
  display: block;
  height: 5px;
  max-width: 135px;
  background: #000;
  margin-bottom: 45px;
}

.team-quote {
  display: block;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 45px !important;
}

.team-info {
  font-size: 18px;
  font-weight: 300;
  display: block;
}
@media only screen and (min-width: 992px) {

  .site-mobile {
    display: none;
  }

  .mmm-image {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .slider .features li {
    width: calc(50% - 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px !important;
  }

  .slider .features-icon {
    width: 120px;
    margin-bottom: 0;
    margin-right: 30px;
  }
}



@media only screen and (max-width: 1400px) {
  .site-nav ul li {
    font-size: 16px;
  }

  .site-footer {
    padding: 20px 0;
  }

  .banner._main p {
    margin-top: 30px;
  }

  .banner._main img {
    max-height: 200px;
  }

  .banner._main {
    background-size: 50% auto;
  }

  .banner {
    padding: 40px 0;
  }
}

@media only screen and (max-width: 1199px) {
  .site-nav--additional .button {
    margin-left: 40px;
  }

  .language {
    margin-left: 40px !important;
  }

  ._flex--swap-md {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .features-icon {
    max-width: 70px;
    margin: 0 auto;
  }

  .features li p {
    font-size: 20px;
  }

  .info._info-x3 .info-left {
    margin: -110px 0 -170px;
    width: 60%;
  }

  .info._info-x3 .info-right {
    max-width: 40%;
  }

  .info._info-x3 h1 {
    font-size: 50px;
  }

  .info._info-x3 p {
    font-size: 20px;
  }

  .info._info-x3 {
    max-height: none;
  }

  .info {
    padding: 80px 0;
  }

  .mmm-item {
    font-size: 18px;
  }

  .slider .info-title {
    margin-bottom: 50px;
  }

  .slider ._slide4 .info-title {
    padding-left: 0;
  }

  .slider .slick-slides__current,.slider .slick-slides__summary {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .site-nav--additional._landing {
    display: none;
  }

  .site-nav--additional ul li a:not(.button) {
    font-size: 18px;
  }

  .site-nav--additional ul li .button {
    font-size: 16px;
  }

  .site-nav--additional ul li {
    margin-left: 20px;
  }

  .site-nav--additional {
    padding: 15px 0;
  }

  .site-logo img {
    max-height: 45px;
  }

  .language {
    margin-left: 0 !important;
  }

  ._flex--swap-sm {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .site-footer .copyright {
    margin: 20px 0 0;
    width: 100%;
    text-align: center;
  }

  .site-footer .site-nav ul {
    -webkit-columns: 2;
    columns: 2;
    text-align: center;
  }

  .site-footer .site-nav ul li {
    margin-bottom: 5px;
    width: 100%;
    display: block;
  }

  .site-footer .site-nav {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
  }

  .site-footer {
    padding: 15px 0 20px;
  }

  .site-header .site-nav {
    display: none;
  }

  .site-header .site-mobile .site-nav {
    display: block;
  }

  .banner._main {
    padding-bottom: 500px;
    background-size: auto 400px;
    background-position: center calc(100% - 60px);
  }

  .banner._main .container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .banner._about {
    background-position: center 20%;
    min-height: 320px;
  }

  .banner-content {
    max-width: none;
    text-align: center;
    margin: 0;
  }

  .features li p {
    font-size: 18px;
  }

  .features li {
    width: calc(50% - 30px);
  }

  .form._subscribe {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
  }

  .form._subscribe .form-group {
    width: 100%;
  }

  .form._subscribe .form-control {
    width: 100%;
  }

  .form._subscribe .form-submit {
    margin-top: 20px;
  }

  .info._contacts .social--in-right {
    padding-right: 0;
  }

  .info._contacts .info-right {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .info._about-description .info-left {
    width: 100%;
    text-align: center;
  }

  .info._about-description .info-left h1 {
    display: inline-block;
    margin-bottom: 40px;
    padding-bottom: 10px;
    position: relative;
  }

  .info._about-description .info-left h1:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 5px;
    background: #000;
  }

  .info._about-description .info-right {
    width: 100%;
  }

  .info._info-x3._landing .info-left {
    width: 100%;
    margin: 0 0 30px;
  }

  .info._info-x3._landing .info-left img {
    margin: 0;
    width: auto;
    max-width: 100%;
  }

  .info._info-x3._landing .info-right {
    width: 100%;
    max-width: 100%;
  }

  .info._info-x3._landing .info-right h1,.info._info-x3._landing .info-right p {
    text-align: center;
  }

  .info._info-x3 .social--in-right {
    padding-right: 0;
  }

  .info._info-x3 .info-left {
    margin: -80px 0 -120px -40px;
    width: 60%;
  }

  .info._info-x3 .info-right {
    max-width: 40%;
  }

  .info-title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .info {
    padding: 60px 0;
  }

  .info-left,.info-right {
    width: 100%;
  }

  .list__links li,.info._info-spetification ul li {
    margin-right: 30px;
    font-size: 18px;
  }

  .list__links,.info._info-spetification ul {
    margin-top: 40px;
  }

  .mmm-item {
    font-size: 16px;
  }

  .slider .info-title {
    margin-bottom: 40px;
  }

  .slider .slick-slides__current,.slider .slick-slides__summary {
    font-size: 18px;
  }

  .slider .slick-slides {
    display: none;
  }

  .slider {
    padding: 40px 0 0 0;
  }

  .slider .info-left {
    margin-bottom: 40px;
  }

  .site-social._vertical {
    display: none;
  }

  .site-social {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .site-social ul li {
    margin: 0 10px;
  }

  .social--in-right {
    padding-right: 0;
  }

  .team._right .team-thumb {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .team._right .team-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .team:not(:last-child) {
    margin-bottom: 50px;
  }

  .team-thumb {
    max-width: 100%;
    background-position: center 20%;
    min-height: 800px;
    position: relative;
  }

  .team-thumb:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 230px;
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.01) 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 242, 242, 0.01)), to(#f2f2f2));
    background: -o-linear-gradient(top, rgba(242, 242, 242, 0.01) 0%, #f2f2f2 100%);
    background: linear-gradient(to bottom, rgba(242, 242, 242, 0.01) 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03f2f2f2', endColorstr='#f2f2f2',GradientType=0 );
  }

  .team-content {
    width: 100%;
    margin-top: -230px;
    background: rgba(242, 242, 242, 0.5);
    padding: 30px;
    position: relative;
    z-index: 2;
  }
}

@media only screen and (max-width: 991px) and (max-width: 767px) {
  .info._about-description .info-left h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 991px) and (max-width: 480px) {
  .team-thumb:before {
    height: 130px;
  }
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 16px;
    line-height: 1.3;
  }

  .site-nav--additional {
    display: none;
  }

  .site-logo img {
    max-height: 35px;
  }

  ._flex--swap-xs {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .site-footer .copyright {
    font-size: 16px;
  }

  .banner._main {
    padding-bottom: 370px;
    background-size: auto 300px;
    background-position: center calc(100% - 40px);
  }

  .banner._main p {
    margin-top: 30px;
    text-align: justify;
  }

  .banner._main img {
    max-width: 60%;
  }

  .banner {
    padding: 30px 0;
  }

  .faq-answer p,.faq-answer ul li {
    font-size: 16px;
    line-height: 1.3;
  }

  .faq {
    margin-bottom: 20px;
  }

  .faq-question {
    font-size: 18px;
  }

  .features li {
    width: calc(100% - 30px);
  }

  .info._contacts .info-right a {
    font-size: 16px;
  }

  .info._contacts .info-right {
    margin-bottom: 0;
  }

  .info._contacts .info-contact {
    margin-bottom: 20px;
  }

  .info._contacts h4 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .info._about-description .info-right p {
    font-size: 16px;
  }

  .info._info-efficiency {
    padding: 40px 0;
  }

  .info._info-x3 .info-left {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .info._info-x3 .info-left img {
    max-height: 300px;
  }

  .info._info-x3 .info-right {
    max-width: 100%;
    text-align: center;
  }

  .info._info-x3 h1 {
    text-align: center;
    text-shadow: 0 5px 2.79px rgba(0, 0, 0, 0.21);
    font-size: 30px;
  }

  .info._info-x3 p {
    font-size: 16px;
    line-height: 1.3;
  }

  .info-title {
    font-size: 24px;
    text-shadow: 0 5px 2.79px rgba(0, 0, 0, 0.21);
    margin-bottom: 30px;
  }

  .info ul li {
    font-size: 16px;
    line-height: 1.3;
  }

  .info {
    padding: 40px 0;
  }

  .list__links li,.info._info-spetification ul li {
    margin-right: 20px;
    font-size: 16px;
  }

  .list__links,.info._info-spetification ul {
    margin-top: 30px;
  }

  .list__style li:before {
    top: 7px;
  }

  .mmm-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: -30px -20px 0;
  }

  .mmm-container .list__links,.mmm-container .info._info-spetification ul,.info._info-spetification .mmm-container ul {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .mmm-image {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mmm-image--container {
    width: auto;
  }

  .mmm-item {
    width: calc(50% - 40px);
    display: inline-block;
    position: relative;
    left: inherit !important;
    bottom: inherit !important;
    top: inherit !important;
    margin: 30px 20px 0;
  }

  .slider .info-title {
    margin-bottom: 30px;
  }

  .slider ._slide2 .info-title {
    text-align: center;
  }

  .site-social ul li {
    margin: 0 5px;
  }

  .site-social ul li .icon {
    max-width: 25px;
    max-height: 25px;
  }

  .site-social ul li .icon-in {
    max-width: 30px;
    max-height: 30px;
  }

  .site-social ul li .icon-fb {
    max-width: 18px;
    max-height: 18px;
  }

  .team-title {
    font-size: 20px;
  }

  .team-role {
    font-size: 16px;
  }

  .team-quote {
    font-size: 16px;
  }

  .team-info {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .site-mobile {
    max-width: 100%;
    padding: 100px 20px 50px;
  }

  .team:not(:last-child) {
    margin-bottom: 30px;
  }

  .team-thumb {
    min-height: 350px;
  }

  .team-content {
    margin-top: -130px;
    padding: 30px 20px;
  }

  .mmm-image--container > span.mmm-dotted {
    display: none;
  }
}

.form-submit-ru {
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.team-quote > i:first-child {
  margin-right: 5px;
}

/*# sourceMappingURL=main.css.map */
.info._contacts .info-left{
  display:none;
}

.info._contacts .info-right{
  width:100%;
  max-width:none;
}

@import "var";
@import "smart-grid";
body{
  font-family: $font-din-regular;
  .team-wrapper{
    padding: 85px 40px 40px 40px;
    @include lg(padding, 85px 20px 40px 20px);
    z-index: 1;
  }
}