@import "var";
.text{

  &--h1{
    font-family: $font-gotham;
    font-size: 2.25rem;
    font-weight: bold;
  }

  &--h2{
    font-family: $font-gotham;
    font-size: 2rem;
    font-weight: bold;
  }

  &--desc{
    font-family: $font-din-regular;
    font-size: 1.125rem;
    line-height: 1.4375;
  }

}

.t{

  &--c{
    text-align: center;
  }
  &--r{
    text-align: right;
  }

  &--l{
    text-align: left;
  }
}